html, head, body, h1, h2, h3, h4, h5, h6, a, p, img {
	border:0; margin:0; padding: 0;font-family: roboto
}





/* Homepage */
.homeNav {
	background-color: #fff;
	height: 100px;
	width: 100%;
	margin-top: 150px;
	box-shadow: #999 0 2px 5px;
}

.homeNav a {
	color: #999;
	font-family: roboto;
	background-color: #fff;
	padding: 40px 70px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 400;
	transition: 1s;
}
.homeNav .name {
	font-weight: 700;
	color: #333;
	font-family: roboto;
	font-size: 35px;
	padding: 23px 70px 35px 70px;
	background-color: #fff;
	color:#B1D0D3;
	cursor: default;
}
.homeMenu {
	line-height: 88px;
	text-align: center;
}

.link:hover {
	/*font-size: 18px;*/
	transition: 1s;
	background-color: rgba(0,0,0,0.05);
	color: #000
}
footer {
	position: absolute;
	bottom: 0;
	width: 35%;
	height: 50px;
	margin-left: 32.5%;
	background-color: rgba(0,0,0,0.4);
	padding: 10px 20px 0 20px;
	box-shadow: rgba(0,0,0,0.4) 0 0 11px 20px;
}
footer p, a {
	color:#fff;
	font-weight: 300;
	font-size: 15px;
	margin-top: 5px;
	text-decoration: none;
}
footer img {
	width: 40px;
	float: right;
	margin-top: -10px;
	margin-left: 30px;
}

@media only screen and (max-width:1500px) {
	.homeNav .link {
		 padding: 20px 40px 34px 40px;
	}
	.homeNave .name {
		padding: 20px 40px 34px 40px;
		font-size: 30px;
	}
	footer {
		width: 60%;
		margin-left: 20%;
	}
	footer img {
		width: 30px;
	}
}