div, img, a, h1, h2, h3, h4, h5, h6, a, footer, button, body, html, head, ul, li {margin:0;padding:0;font-family: roboto;}
body, html {min-height:100%;}
/*Roboto font guid
300=light
400=regular
500=medium
*/
* {
	text-decoration: none;
}
body {
	overflow-x: hidden;
}
/*FrostedGlass Background*/
.glass::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0; right: 0; left: 0; bottom: 0;
	background: inherit;
	box-shadow: inset 0 0 3000px rgba(255, 255, 255, 0.2);
	filter: blur(7px);
	margin:-20px;

}
/*Header*/
header {
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 -100px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	overflow: hidden;
	height: 500px;
	z-index: -400;
}

header p {
	color:#000;
	text-align: center;

}
header p, header nav ul li a{
	color:#fff;
}
header p {
	font-size: 23px;
	margin-top: 100px;
	margin-bottom: -15px;
}




/*Footer*/
footer {
	margin:auto;
	margin-top: 150px;
	text-align: center;
	width: 410px;
	height: 60px;
	line-height:60px;
	border-radius: 40px;
	padding-left: 20px;
}
.footer footer img, footer img {
	position: absolute;
	margin-top: 0;
}
footer a{
	color:rgba(0,0,0,0.75);
	text-decoration: none;
	margin: auto 30px;
	font-size: 20px;
}
.footer img {
	width: 100%;
	position: relative;
	margin-top: -19%;
}
.footer {
	/*background-color: red;*/
	height: 300px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 500px;
	position: absolute;
	overflow: hidden;
	margin-bottom: -40px;
}
/*Homepage*/
.homeNav {
	width: 100%;
	border:2px rgba(77, 162, 184, 0.25);
	margin-top: 15%;
	text-align: center;
	width: calc(100% - 4px);
	height: 110px;
}
.glass {
	
	background: inherit;
	position: relative;
	z-index: 1;
	overflow: hidden;
	border: 2px solid rgba(77,162,184, 0.25);
}
.homeNav ul li a {
	margin:50px;
	color: #fff;
	font-size:40px;
	letter-spacing: 7px;
	text-decoration: none;
}
.homeNav ul {
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	line-height: 110px;
}

/*Photos page menu*/
#pageMenu {
	width: 1400px;
	margin:auto;
	margin-top: 40px;
	height: 600px;
	border-radius: 40px;
	display: flex;
	justify-content: center;
}
.img {
	height: 81.4%;
	width: 28%;
	margin-top: 55px;
	text-align: center;
	overflow: hidden;
	border-radius: 15px;
}
.m55 {
	margin: auto 55px;
}
.img img {
	max-width: 100%;
}
.img p {
	color: #fff;
	font-size: 25px;
	margin-top: -105px;
	padding: 20px 0;
	border-radius: 50px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

/*See more blur hover*/

.blurBackground {
	filter: blur(5px);

}
.blurBackground p {
	opacity: 0;
}
#masterBlurer, #masterBlurer p, #masterBlurer2, #masterBlurer2 p, #masterBlurer3, #masterBlurer3 p{
	transition: 0.35s;
	transition-timing-function: ease-in-out;
}

#seeMore p, #seeMore2 p, #seeMore3 p{
	margin-top: -70%;
	opacity: 0;
	transition: 0.35s;
	transition-timing-function: ease-in-out;
}
#seeMore p:hover, #seeMore2 p:hover, #seeMore3 p:hover {
	cursor: pointer;
}



/*Nav*/

nav {
	width: 710px;
	margin: auto;
	text-align: center;
	border-radius: 50px;
	height: 70px;
	margin-top: 50px;
}


nav ul {
	list-style-type: none;
}
nav ul li a {
	color:#5A5A5A;
	text-decoration: none;
	font-size: 25px;
	font-weight: 300;
	margin:0 60px;
	line-height: 70px;
}



/*About me*/
/*info*/
.info {
	width: 90%;
	margin-left: 5%;
	border-bottom: solid 1px #999;
	margin-bottom: 100px;
}
.info h1 {
	color:#555;
	font-weight: 400;
	font-size: 35px;
	margin-left: 7%;
	margin-top: -70px;
}
.info p {
	margin-left: 9%;
	color:#777;
}
.one-img {
	height: 200px;
	margin-left: 70%;
	margin-top: -125px;
	margin-bottom: 25px;
}
.two-img {
	margin-left: 69%;
}
.two-img img {
	height: 150px;
	margin-top: -125px;
	margin-bottom: 25px;
}
.two-img img:last-child {
	margin-left: 20px;
}